<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
        rel="shortcut icon"
        href="https://th.bing.com/th/id/OIP.kwE8IapDUTtylieeRnn2YAHaHa?pid=ImageDet&rs=1"
        type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registration error</title>
</head>
<body>

    <style>
        .container {
            background: rgba(255, 255, 255, 0.655);
            backdrop-filter: blur(10px);
            border-radius: 15px;
            padding: 30px;
            text-align: center;

        }

        body{
            display: flex;
            justify-content:center;
            align-items: center;
            height: 100vh;
            background-color: rgb(188, 188, 188);
        }

    </style>
    <div class="container">
        <h1>Registration error</h1>
        <p>There was an error during registration. please try again.</p>
    </div>


</body>
</html>